* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5)
}

.modal {
    background-color: #fff;
    position: relative;
    top: 30%;
    margin: 0 auto;
    padding: 1em;
    max-width: 600px;
    width: 80%;
    border-radius: 0.5em;
}

.close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}

