<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TTriad</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
      <link href="/styles.css" rel="stylesheet">
      <script src="https://use.fontawesome.com/3dbf78ccbd.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="https://triad.raelys.com/assets/logo-971cf9345e302e544be8a7f469c871b70b3a65c9f12fce0ca08a92a91813e627.png">
            <span class="header-text">T. Triad </span>
          </a>
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
            <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
            <li><a href="/cards" class="nav-link px-2 text-white">Cards</a></li>
            <li><a href="/decks" class="nav-link px-2 text-white">Decks</a></li>
          </ul>
          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button>
          </div>
        </div>
      </div>
    </header>