[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "*"}
djangorestframework = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
pytz = "*"
stripe = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
