<%- include("partials/header.ejs") %>
    <div class="container">
        <div class="row border-bottom">
            <div class="col-12 d-flex justify-content-center my-4">
                <img class="homepage-image rounded-pill" src="https://img.finalfantasyxiv.com/lds/h/g/sRPa2dzW-CPLUNpqrRQHeRfPiM.png">
            </div>
            <div class="col-12 d-flex justify-content-center ">
                <h2>About T. Triad</h2>
            </div>
            <div class="col-12 d-flex justify-content-center mb-3">
                <p>This site aims to provide you with the ability to track Triple Triad Cards across Eorzea within the FFXIV realm</p>
            </div>
        </div>
        <div class="row my-4 justify-content-center">
            <div class="col-8 d-flex">
                <div class="mx-2 about-image">
                    <img src="https://static0.thegamerimages.com/wordpress/wp-content/uploads/2021/06/Final-Fantasy-14-Triple-Triad-Open-Tournament-Draft-card-selection-1.jpg  " class="img-thumbnail">
                </div>
                <div class="mx-2 d-flex flex-column align-items-center">
                    <h4>Cards</h4>
                    <p>Here, you can find and filter the entire list of cards spread across Eorzea. All cards can be classified by rarity (one to five stars). The higher its rarity, the more powerful the card.</p>
                </div>
            </div>
        </div>
        <div class="row my-4  justify-content-center">
            <div class="col-8 d-flex">
                <div class="mx-2 d-flex flex-column align-items-center">
                    <h4>Decks</h4>
                    <p>You can also compare decks with other players and share your best strategy against the worthy opponents in Eorzea.</p>
                </div>
                <div class="mx-2 about-image">
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/83e21e53796513.59416114638e9.jpg" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>
<%- include("partials/footer.ejs") %>
